<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
     <div class="container">
          <a class="navbar-brand" href="/">COOLBOTS7.IO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link scroll-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link scroll-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link scroll-link" href="/gear">Gear</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link scroll-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link scroll-link" href="/api">API</a>
                    </li>
               </ul>
          </div>
     </div>
</nav>
