<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">
          <div class="row d-flex justify-content-center">
               <div class="col-auto">
                    <h1 style="font-size: 3.5rem; font-weight:300; line-height:1.2;">API</h1>
               </div>
          </div>
          <div class="row d-flex justify-content-center">
               <div class="col-6">
                    <span style="1.25rem; font-weight:300;">This webiste has an API to make content easier to access from the font end and other external applications.</span>
               </div>
          </div>

          <div class="card-deck pt-5 d-flex justify-content-center">
               <div class="card col-md-4">
                    <div class="card-body">
                         <h5 class="card-title">Projects</h5>
                         <p class="card-text">The projects endoint returns a collection of all projects shown on this site with information like, tags, links, and status.</p>
                         <p class="card-text">This endpoint is used to access the list of projects from the home and projects pages to eliminate duplicate work and ensure the content matches.</p>
                         <p class="card-text"><small class="text-muted">/api/projects</small></p>
                         <a href="/api/projects" class="btn btn-primary" target="_blank">Demo</a>
                    </div>
               </div>
          </div>

     </div>
</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
