<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">

          <div class="row justify-content-center">
               <div class="col-auto">
                    <h1>Parallel Genetic Algorithm</h1>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>About</h3>

                    <p>
Our project idea is to create a general genetic algorithm engine that utilizes hardware acceleration and parallel computing to speed up the creation of future generations. Currently, the standard for genetic algorithms are run in a linear fashion which test the fitness of each candidate and then select the top candidates, perform crossover, and implement mutation all at one time,  then continue with the next generation, repeating this process over and over. With our idea, a certain number of candidates can be tested and then the process of selecting top candidates for the crossover and mutation process can begin while other candidates are still being tested. Using hardware acceleration and parallel computing, the process of creating the next generation can be sped up by (hopefully multiple times the rate of linear processing), due to the fact that mutations are being put into new generation candidates much faster. Hardware acceleration uses GPUs to perform fast matrix math, most commonly multiplication which GPUs are optimized for. This can be utilized to increase the speed of genetic algorithms by expressing the candidates as matrices and using GPUs to perform the math involved for crossover and mutation. Parallel computing can be used to increase the throughput of the selection, crossover, and mutation part of the genetic algorithm by running multiples of them at once and using results from candidate testing before the test is entirely completed. Just as functions in a CPU can the stacked to optimize the throughput, the selection, crossover, and mutation can be stacked candidate by candidate and sorted by fitness rather than by performing the selection, crossover, and mutation for an entire generation at one time only after the entire generation has been tested for fitness. Implementing these new changes will ensure a faster way to reach the desired fitness for a specific candidate. The plan is to implement this genetic algorithm using a language like C# or C++ or something similar. These languages will give us a lot of flexibility in what we can do and also allow us to work with something we have been exposed to before in multiple classes. The end result of this project is to hopefully create a very efficient and fast genetic algorithm that reaches peak fitness in a candidate much faster than the algorithm standards we use today. The parallel processing will make all good mutations move more quickly through candidates and future generations and the hardware acceleration will ensure the fastest available method for any computation that needs to be done in the genetic algorithm. One way to test this new algorithm would be to set up the same starting conditions for this and a nonparallel / nonhardware accelerated algorithm and run them together to see which hits the end result for fitness level the fastest.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row mt-3 pb-3 justify-content-center">
               <div class="card-group">
                    <div class="card" style="width: 18rem;">
                         <div class="card-body">
                              <a class="card-link" href="https://github.com/Coolbots7/ParallelGeneticAlgorithm" target="_blank">
                                   <i class="fab fa-github fa-3x"></i>
                              </a>
                              <h5 class="card-title">Get the source on GitHub</h5>
                         </div>
                    </div>
               </div>
          </div>

</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
