<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">

          <div class="row justify-content-center">
               <div class="col-auto">
                    <h1>Project Portfolio Website</h1>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col-md-6 col-sm-12">
                    <img src="../images/projects/project_portfolio/project_portfolio.png" class="featurette-image img-fluid mx-auto rounded" />
               </div>

               <div class="col-md-6 col-sm-12 pt-3">
                    <p>
                         A website to showcase my personal projects.
                    </p>

                    <h5 class="pt-3">Technologies</h5>
                    <p>
                         The site is written in Node.js and hosted on a Kubernetes cluster in Digial Ocean. The Kubernetes cluster uses a NGINX Ingress Controll to pass the incoming request to the correct
                         Kubernetes service based on the alias.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <h3>Home</h3>
                    <p>
                         The <a href="/" class="text-primary">Home</a> page shows select Featured Projects, links to other websites, and a list of interests. The Featured Projects are populated using the Projects RESTful API endpoint built into the
                         site.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <h3>Projects</h3>
                    <p>
                         The <a href="/projects" class="text-primary">Projects</a> page lists all projects. The list is populated using the Projects RESTful API endpoint buit into the site.
                    </p>

                    <h5 class="pt-3">Planned Improvements</h5>
                    <div class="d-flex justify-content-center">
                         <p>
                              <ul class="text-left">
                                   <li>Searching projects by Title, Description, and Tags.</li>
                                   <li>Switching between a Grid and List layout.</li>
                                   <li>Filtering projects by engineering disciplines and technologies.</li>
                                   <li>Sorting projects by most recently updated, popularity, and personal favorites.</li>
                              </ul>
                         </p>
                    </div>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <h3>Gear</h3>
                    <p>
                         The <a href="/gear" class="text-primary">Gear</a> page shows the hardware that I have immediate access to for working on personal projects.
                    </p>

                    <h5 class="pt-3">Planned Improvements</h5>
                    <div class="d-flex justify-content-center">
                         <p>
                              <ul class="text-left">
                                   <li>Improved layout on Mobile browsers.</li>
                              </ul>
                         </p>
                    </div>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <h3>Contact</h3>
                    <p>
                         The <a href="/contact" class="text-primary">Contact</a> page provides links to other sites to communicate on and a form for communicating directly with a provided return email address.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <h3>API</h3>
                    <p>
                         The website features a <a href="/api" class="text-primary">RESTful API</a> to serve content used in mulitple locations or information that might be used outside of the web applicaiton.
                    </p>

                    <p>
                         For example, the Projects endpoint returns a JSON array of projects that filtered and shown in the Featured Projects on the home page and also used to populate the Projects list page. This reduces duplicate effort when
                         adding new projects to the website, allows for easy control of which projects are featured, and ensures there are no discrepancies between the home page and projects page.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row mt-3 pb-3 justify-content-center">
               <div class="card-group">
                    <div class="card" style="width: 18rem;">
                         <div class="card-body">
                              <a class="card-link" href="https://gitlab.com/coolbots7/project-website">
                                   <i class="fab fa-gitlab fa-3x"></i>
                              </a>
                              <h5 class="card-title">Get the source on GitLab</h5>
                         </div>
                    </div>
               </div>
          </div>

</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
