body {
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: 300;
     color: #888;
     line-height: 30px;
     text-align: center;
}

strong {
     font-weight: 600;
}

a, a:hover, a:focus {
     color: #555;
     /* color: #007bff!important; */
     text-decoration: none;
     transition: all .3s;
}

h1, h2 {
     margin-top: 10px;
     font-family: 'Montserrat', sans-serif;
     font-size: 38px;
     font-weight: 300;
     color: #555;
     line-height: 50px;
}

.navbar {
     background: #222;
     -o-transition: all .6s;
     -moz-transition: all .6s;
     -webkit-transition: all .6s;
     -ms-transition: all .6s;
     transition: all .6s;
     backface-visibility: hidden;
}

.navbar.navbar-no-bg {
     background: #222;
     background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
     font-size: 15px;
     color: #fff;
     font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
     color: #fff;
     color: rgba(255, 255, 255, 0.8);
     border: 0;
}

r .navbar-dark .navbar-nav .nav-link:hover {
     color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
     color: #fff;
     outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
     padding-left: 1rem;
     padding-right: 1rem;
}

.navbar-brand {
     font-family: 'Open Sans', sans-serif;
     width: 136px;
     border: 0;
}

.top-content {
     padding: 210px 0;
}

.top-content .text {
     color: #fff;
}

.top-content .text h1 {
     margin-top: 25px;
     color: #fff;
}

.top-content .description {
     margin: 30px 0 10px 0;
}

.top-content .description p {
     opacity: 0.8;
}

.top-content .top-big-link {
     margin-top: 45px;
}

.btn-link-1 {
     display: inline-block;
     height: 50px;
     margin: 0 5px;
     padding: 0 28px;
     background: #9b59b6;
     background: rgba(155, 89, 182, 0.7);
     border: 0;
     font-size: 15px;
     font-weight: 600;
     line-height: 48px;
     color: #fff;
     border-radius: 4px;
     transition: all .3s;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
     background: #fff;
     outline: 0;
     color: #fff;
     box-shadow: none;
}

.services-box {
     padding-top: 30px;
     text-align: left;
}

.services-box .services-box-icon {
     width: 80px;
     height: 80px;
     margin: 0 auto;
     font-size: 40px;
     color: #fff;
     line-height: 80px;
     text-align: center;
     border-radius: 28px;
}

.services-box h3 {
     margin-top: 0;
     padding: 0 0 10px 0;
}

.portfolio-box {
     padding-top: 30px;
     text-align: left;
}

.portfolio-box-image {
     overflow: hidden;
     border-radius: 4px;
     /* min-height: 15rem; */
}

.portfolio-box-image img {
     width: 100%;
     height: 20rem;
     -o-transition: all .8s;
     -moz-transition: all .8s;
     -webkit-transition: all .8s;
     -ms-transition: all .8s;
     transition: all .8s;
}

.portfolio-box-image:hover img {
     -o-transform: scale(1.25);
     -moz-transform: scale(1.25);
     -webkit-transform: scale(1.25);
     -ms-transform: scale(1.25);
     transform: scale(1.25);
}

.portfolio-box h3 {
     margin-top: 30px;
}

.portfolio-box h3 a {
     color: #555;
}

.portfolio-box h3 a:hover,
.portfolio-box h3 a:focus {
     color: #9b59b6;
}

.portfolio-box h3 i {
     padding-left: 10px;
     color: #ccc;
     -o-transition: all .3s;
     -moz-transition: all .3s;
     -webkit-transition: all .3s;
     -ms-transition: all .3s;
     transition: all .3s;
}

.portfolio-box h3:hover i {
     padding-left: 15px;
}

.portfolio-box-date {
     padding-bottom: 10px;
     font-size: 14px;
     color: #aaa;
     text-transform: uppercase;
}

.portfolio-box-date i {
     padding-right: 5px;
     color: #ddd;
}

.portfolio-container .section-bottom-button {
     padding-top: 40px;
}

.testimonials-container {
     padding-bottom: 70px;
}

.testimonial-list {
     margin-top: 30px;
     text-align: center;
}

.testimonial-list .testimonial-image img {
     max-width: 160px;
     border-radius: 4px;
}

.testimonial-list .testimonial-text {
     margin-top: 30px;
     opacity: 0.8;
}

.testimonial-list .testimonial-text a {
     color: #fff;
}

.testimonial-list .testimonial-text a:hover,
.testimonial-list .testimonial-text a:focus {
     color: #fff;
     border: 0;
}

.testimonial-list .nav-tabs {
     margin-top: 45px;
     border: 0;
     justify-content: center;
}

.testimonial-list .nav-tabs li {
     margin-left: 10px;
     margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
     width: 16px;
     height: 16px;
     padding: 0;
     background: none;
     border: 1px solid #fff;
     border-color: rgba(255, 255, 255, 0.8);
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus {
     background: #fff;
     background: rgba(255, 255, 255, 0.8);
     border: 1px solid #fff;
     border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus {
     background-color: #007bff;
     border: 0;
}

.carousel {
     height: 30rem;
     background-color: #777;
}

.carousel .carousel-item img {
     max-height: 30rem;
     width: auto;
     margin: auto;
}
